[submodule "vendor/contreforts-kg"]
	path = vendor/contreforts-kg
	url = https://github.com/contreforts-ai/contreforts-kg.git
[submodule "vendor/contreforts-core"]
	path = vendor/contreforts-core
	url = https://github.com/contreforts-ai/contreforts-core.git
[submodule "vendor/contreforts-config"]
	path = vendor/contreforts-config
	url = https://github.com/contreforts-ai/contreforts-config.git
[submodule "compliance/dcp-test-env"]
	path = compliance/dcp-test-env
	url = https://github.com/ds-labs-org/dev-dev-deployment.git
